@import 'config';

.menu-btn{
    position: fixed;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;
    
    .btn-line{
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background-color: #fff;
        @include easeOut;
    }

    &.close {
        transform: rotate(180deg);

        .btn-line{
            &:nth-child(1){
                transform: rotate(45deg) translate(5px, 5px);
            }

            &:nth-child(2){
                opacity: 0;
            }

            &:nth-child(3){
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

.menu{
    position: fixed;
    top: 0;
    width: 100%;
    clear: both;
    visibility: hidden;
    z-index: 2;

    &.show{
        visibility: visible;
    }

    &-branding,
    &-nav{
        display: block;
        flex-flow: column wrap;
        align-items:center;
        justify-content: center;
        height: 100vh;
        font-family: 'Roboto Slab', serif;
        // overflow: hidden;
    }

    &-nav{
        margin:0;
        padding: 0;
        float:left;
        
        list-style:none;
        transform: translate3d(-100%, 0, 0);
        width: 55%;
        
        @include easeOut;

        .overlay{
            background-color: $secondary-color;
            background:rgba(248, 248, 248, 0.7);
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            right: 0;
            z-index: 1;

        }

        &.show{
            transform: translate3d(0, 0, 0);
        }
    }

    &-branding {
        background-color:$primary-color;
        width: 45%;
        position: relative;
        float: right;
        transform: translate3d(150%, 0, 0);
        @include easeOut;

        &:after {
            content: "";
            position: absolute;
            height: 100%;
            border-bottom: 50vh solid transparent;
            border-right: 15vh solid $primary-color;
            border-left: 0px solid;
            border-top: 50vh solid transparent;
            left: -118px;
        }

        .brandingnav{
            position: absolute;
            top: 35%;
            left: 20%;
            text-decoration: none;
            list-style: none;

            .navitem {

                i{
                    margin-right: 20px;
                }

                &.show{
                    @include fadeIn;
                }
            }

            .navlink{
                display: inline-block;
                font-size:30px;
                text-transform: uppercase;
                padding-left: 1rem;
                margin-bottom: 1rem;
                font-weight: 500;
                text-decoration: none;
                color:$secondary-color;
                border-left: 10px solid transparent;

                span{
                    margin-right: 5px;
                }


                &:hover {
                    border-left: 10px solid $text-color;
                }
                
            }

            .current{
                border-left: 10px solid $text-color;
            }
    
        }

        &.show{
            transform: translate3d(0, 0, 0);
        }

        .logo {
            position: absolute;
            left: -29%;
            height: 100%;
            z-index: 2;

            img{
                position: absolute;
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 340px;
            }
        }
    }

}

@for $x from 1 through 4 {
    .navitem:nth-child(#{$x}){
        transition-delay: $x * 0.1s;
    }
}





