@import 'config';
@import 'menu';

body{
    background:$home-background;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    height: 100%;
    margin: auto;
    font-family: 'Roboto Slab', serif !important;
    line-height: 1.5;
    position: relative;
    font-size: 1rem;
    min-height: 100%;

    &.overflow{
        overflow: hidden;
    }
}

.m-10{
    margin-top:20px;
    margin-bottom: 20px;
}

.no-m{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.cover-container {
    max-width: 42em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    margin-bottom: 10vh;
}

.brandname{
    @include fadeIn;

    img{
        height: 50%;
    }
}

.vh-holder{
    // position: relative;
    // top: 25vh;
    z-index: -1;
    // margin-left: 20%;
    border-radius: 10px;
    background:rgba(248, 248, 248, 0.6);
    font-size: 1.20rem;
    margin: 10px 15px;
    font-weight: 300;
    @include fadeIn;
    

    .myinfo{ 
        color: $primary-color;
        padding: 15px;
        font-weight: 400;
        
        span{
            font-weight: 900;
            color: $text-color;
        }
    }
    
}

#about,#contactme {
    z-index: -1;
    .holder{
        z-index: -1;
        padding: 15px;
        background-color: rgba($color: $primary-color, $alpha: 0.6);
        border-radius: 5px;
        color:$secondary-color;
        font-weight: 400;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 10px;
        @include fadeIn;

        .lg-header{
            // color: $text-color;
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 15px;

        }

        .info {
            ul{
                margin-top: 10px;
                display: inline-block;
                list-style: none;
                text-align: left;
                padding: 0;
            }
        }

        .photoHolder{
            z-index: -1;
            text-align: center;
            img{
                border-radius: 50%;
                height: 150px;
                border:2px solid $secondary-color;
            }
        }

        .skill-star{
            ul{
                display: inline-block;
                list-style: none;
                
                span{
                    display: block;
                    margin-left:10px;
                    padding: 5px 10px;
                }
            }
        }
    }
}

#contactme{
    

    h1{
        text-align: center;
        color: $primary-color;
    }

    .container{
        background-color: rgba($color: $secondary-color, $alpha: 0.6);
        border-radius: 5px;
        color:$secondary-color;
        font-weight: 400;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 10px;
        width: 100%;
        padding: 15px;
        margin: auto;
        @include fadeIn;

        .holder{
            padding:20px;
            font-size: 16px; 
            text-align: center;

        }
    }
}

.jobInfo{
    text-decoration: none;
    list-style: none;
    display: inline-block;

    span{
        color: $text-color;
        font-weight: 900;
    }
}

.myproj{

    div {
        padding-bottom: 15px;
        padding-top: 15px;

        a{
            display: block;
            background-color:$primary-color ;
            color: $secondary-color;
            padding: 5px 20px;
            text-decoration: none;
            text-align: center;
        }
    }
    img{
        width: 100%;
    }
}

.sticky{
    position: fixed;
    left: 0;
    bottom: 0;
} 

footer{
    width: 100%;
    color: $secondary-color;
    text-align: center;
    padding: 5px;
    z-index: 3;
    background-color: $primary-color;
    opacity: 0.5;

}

@include mnXs {
    .vh-holder{
        background-color: violet;
    }

    .cover-container{
        margin-top: 10vh;
    }

    .menu-branding{
        width: 100%;
        height: 50vh;
        transform: translate3d(0, -300%, 0);

        &.show{
            transform: translate3d(0, -100%, 0);
            
        }

        .brandingnav{
            top: 15%;
            left: 10%;

            .navlink{
                margin-bottom: 5px;
                font-size: 1.70rem;
            }
        }
    }

    .menu-nav{
        width: 100%;
        height: 50vh;
        box-shadow: -12px -1px 20px 0px rgba(0, 0, 0, .5);
        transform: translate3d(0, 300%, 0);

        &.show{
            transform: translate3d(0, 100%, 0);
        }
    }
}

@include mnSm {
    .vh-holder{
        background-color: red;
    }

    .cover-container{
        margin-top: 15vh;
        top: 10%;
        left: 5%;
    }

    .menu-branding .brandingnav{
        .navlink{
            margin-bottom: 5px;
            font-size: 1.70rem;
        }
    }
}

/* Small Devices, Tablets */
@include mnMd {
    .vh-holder{ 
        background-color: orange;
    }

    .cover-container{
        margin-top: 15vh;
    }
}

/* Medium Devices, Desktops */
@include mnLg {
    .vh-holder{
        background-color: yellow;
    }
}

/* Large Devices, Wide Screens */
@include mnXl {
    .vh-holder{
        background-color: green;
    }

}















